@charset "UTF-8";

/* 共通パーツ */
.wrapper{
  margin: 0 auto;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  font-family: 'クラフト明朝';
}
@font-face {
  font-family: 'はたレトロ';
  src: url("../font/hataretro_otameshi.otf") format("opentype"),
  url("../font/hataretro_otameshi.ttf") format("truetype");
}
@font-face {
  font-family: 'クラフト明朝';
  src: url("../font/craftmincho.otf") format("opentype");
}

@font-face {
  font-family: 'KFひま字ワク';
  src: url("../font/KFhimajiWAKU.otf") format("opentype");
}

@font-face {
  font-family: '天浜線フォント';
  src: url("../font/TenhamasenFontVer.3-Regular.otf") format("opentype");
}


.title{
  font-family: 'Kranky';
  font-size: 40px;
}


.btn{
  width: 300px;
  border: 1px solid #b1eab4;
  background: #b1eab4;
  padding: 10px 2%;
  text-align: center;
  margin: 0 auto;
  cursor: pointer; 
}



.btn a{
  width: 100%;
  padding: 10px 30%;
  color: #000;
  /* border: 1px solid blue; */
}

.btn:hover{
  background-color:#f3b1aa;
  border: 1px solid #f3b1aa;
  cursor: pointer;
  color: #fff;
  transition: .3s;
}
.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 4s;
}

.fadeout {
  opacity: 0;
  transform: translateX(-30px);
  transition: all 4s;
}

.faderight {
  opacity: 0;
  transform: translateX(30px);
  transition: all 4s;
}

.fade{
  animation-name: fadeInAnime;
  animation-duration:5s;
  animation-fill-mode:forwards;
  opacity:0;
  }

  @keyframes fadeInAnime{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  


/* ------------------------------------
index
-------------------------------------- */

/* header */
.header{
  width: 100%;
  height: 70px;
  display: flex;
  background-color:transparent;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 7;
  /* border: 1px solid red; */
  padding: 0 3%;
}
.header.change-color {
  background-color: #fef9f4;
  transition: 0.4s;
}

.header.change-color a{
  color: #474b3c;
}

.header h1{
  font-family: 'Kranky';
}

.header h1 a{
  color:#fff;
}

.header-nav{
  font-family: 'Kranky';
}

.header-nav ul{
  display: flex;
  gap: 20px;
  padding: 5%;
}

.header-nav a{
  color:#fff;
  
}
.header-nav li{
  /*線の基点とするためrelativeを指定*/
position: relative;
  margin:0 10px;
}

/*線の基点位置*/
.header-nav li::before,
.header-nav li::after{
  content:"";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  background:#b1eab4;
  /*線の形状*/
  width: 0;
  height:2px;
  /*アニメーションの指定*/
  transition: all 0.2s linear;
}

.header-nav li::before{
right: 0;
bottom: 0;
}

.header-nav li::after{
left: 0;
top: 0;
}

/*線の基点位置2 spanタグ*/

.header-nav li span{
  display: block;
  padding: 10px;
}

.header-nav li span::before,
.header-nav li span::after{
content:"";
  /*絶対配置で線の位置を決める*/
position: absolute;
background: #b1eab4;
  /*線の形状*/
width:2px;
height:0;
/*アニメーションの指定*/
transition: all 0.1s linear;
}

.header-nav li span::before{
left: 0;
bottom: 0;
}

.header-nav li span::after{
right: 0;
top: 0;
}

/*現在地とhoverした際の線の変化*/
.header-nav li.current::before,
.header-nav li.current::after,
.header-nav li:hover::before,
.header-nav li:hover::after{
width: 100%;
}

.header-nav li:hover::after{
transition-delay: 0s;/*すぐ線を出現させる*/
}

.header-nav li:hover::before{
transition-delay: 0.3s;/*線の出現を0.3秒遅らせる*/
}

.header-nav li.current span::before,
.header-nav li.current span::after,
.header-nav li:hover span::before,
.header-nav li:hover span::after{
height: 100%;
}

.header-nav li:hover span::before{
transition-delay: 0.5s;/*線の出現を0.5秒遅らせる*/
}

.header-nav li:hover span::after{
transition-delay: 0.2s;/*線の出現を0.2秒遅らせる*/
}
.top{
  display: none;
}
.hamburger {
  display:none;
}

/* mv */

.mv{
  position: relative;
  width: 100%;
  height: 100%;
  /* z-index: 1; */
  object-fit: cover;
}

.slider{
  display: flex;
  width: 100%;
}

.slider li img{
  width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    height:100vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    
}

.mv-logo{
  width: 100%;
  height: 100%;
  
}

.mv-logo img{ 
  width: 20%;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform:translate(200%,100%);
  z-index: 3;
}

/* concept */
#concept{
  padding: 200px 0;
  max-width: 900px;
  margin: 0 auto;
}

#concept h2{
  margin-bottom: 50px;
  text-align: center;
}

.concept-text{
  width: 100%;
  margin-bottom: 100px;
  display: flex;
}

.concept-text img{
  width: 250px;
  height: 250px;
  border-radius:50%;
  object-fit: cover;
}

.text-wrapper{
  display: block;
  width: 70%;
  margin: 50px 30px;

}

.text-title{
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.text{
  text-align: center;
}

/* menu */
#menu{
  background-image: url(../img/menu-bg.jpg);
  padding: 100px 0;
}

#menu .wrapper{
  max-width: 900px;
}

#menu h2{
  text-align: center;
  margin-bottom: 50px;
}

.grid ul{
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 2fr);
  margin-top: 6%;
  margin-bottom: 50px;
}

.grid img{
  width: 280px;
  height: 280px;
  object-fit: cover;
}


/* infomation */
#infomation{
  padding: 100px 0;
}

#infomation h2{
  text-align: center;
  margin-bottom: 100px;
}

#infomation .wrapper{
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}

.info{
  padding-left: 50px;
}

.info li{
  margin-bottom: 20px;
}

/* contact */

#contact{
  background-image: url(../img/contact.jpg);
  /* width: 100%; */
  opacity: 0.7;
  padding: 100px 0;
}

#contact h2,p{
  text-align: center;
  padding: 10px 0;
}

#contact .wrapper{
  color: #fff;
  /* max-width: 900px; */
  margin: 0 auto;
}

#contact .btn{
  margin-top: 100px;
  color: #000;
}

footer{
  background-color: #000;
  color: #fff;
}


/* ------------------------------------
menulist
-------------------------------------- */
#menulist{
  padding-bottom: 100px;
}

#menulist .title-wrapper {
  background-image: url(../img/mainber.jpg);
  background-size: cover;
  width: 100%;
  height: 200px;
  opacity: 0.8;
}

.title-wrapper h2{
  text-align: center;
  padding-top: 60px;
  font-size: 60px;
}

#menulist .wrapper{
  padding-top: 200px;
  max-width: 900px;
  margin: 0  auto;
  justify-content: center;
  padding: 150px 30px;
  gap: 50px;
  display: flex;
}

#menulist .wrapper img{
  width: 300px;
  height: 200px;
  object-fit: cover;
}

#menulist .wrapper h3{
  font-size: 30px;
  font-family: 'Kranky';
  text-align: center;
  margin: 30px 0;
}

#menulist .wrapper li{
  font-size: 20px;
  margin-bottom: 8px;
  position: relative;
}

#menulist .wrapper li::before{
  content: '◇';
}

#menulist .wrapper li span{
  position: absolute;
  top: 0;
  right: 0;
  
}
.TextTyping {
  text-align: left;
}

.TextTyping span {
  display: none;
}

/*文字列後ろの線の設定*/
.TextTyping::after {
  content: "|";
  animation: typinganime .8s ease infinite;
}

@keyframes typinganime{
  from{opacity:0}
  to{opacity:1}
}

/* #menulist .fade{
  opacity: 0;
} */

/* ------------------------------------ 
conceptlist
-------------------------------------- */
#concept-list{
  background-image: url(../img/mainber.jpg);
  width: 100%;
  height: 200px;
  object-fit: cover;
  opacity: 0.8;
}

.title-wrapper h2{
  text-align: center;
  padding-top: 60px;
  font-size: 60px;
}

#concept-list .wrapper{
  padding-top: 200px;
  max-width: 900px;
  margin: 0 auto;
}
.concept-cards{
  margin-bottom: 50px;
}

.card{
  display: flex;
  padding-bottom: 30px;
}

.card img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.card-content{
  width: 70%;
  padding: 20px 0;
  margin-left: 30px;
  align-items: bottom;
  text-align: center;
  display: block;
}

.card-content h3{
  font-size: 30px;
  margin-bottom: 30px;
}

.card-content p{
  font-size: 1rem;
}

#concept-list.btn{
  width: 30%;
  margin: 100px auto;
}



/* ---------------------------------- 
contactform
-------------------------------------- */
#contact-form{
  background-image: url(../img/mainber.jpg);
  width: 100%;
  height: 200px;
  object-fit: cover;
  opacity: 0.8;
}

.contact-wrapper h2{
  text-align: center;
  padding-top: 60px;
  font-size: 60px;
}

#contact-form .wrapper{
  padding: 100px;
  max-width: 900px;
  margin: 0 auto;
}

#contact-form form{
  margin-top: 60px;
}

.form-item{
  display: flex;
  padding-bottom: 50px;
  /* justify-content: left; */
  position: relative;
}

.form-label{
  padding-right: 0;
  font-size: 18px;
  align-items: center;
}

.form-input input{
  width: 500px;
  height: 40px;
  border: 1px solid #000;
  font-family: 'noto-serif';
  position: absolute;
  left: 40%;
}

.form-input textarea{
  width: 500px;
  height: 100px;
  border: 1px solid #000000;
  font-family: 'noto-serif';
  position: absolute;
  left: 40%;
}

#contact-form .btn{
  margin: 100px auto;
}

/* ------------------------------------
     sp
-------------------------------------- */

/* ----------------index----------------------- */
@media (max-width: 900px) {
  .header{
    width: 100%;
    height: 70px;
  }
  .header h1 a{
    display: none;
  }
  .header .change-color {
    background-color: #fef9f4;
    transition: 0.4s;
  }
  .header .change-color a{
    color: #474b3c;

  }
  .header-nav {
    background: #D3C1AF;
    /* display: none; */
    transition: 0.5s;
    width: 100%;
    height: 100%;
    color: #fff;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
  }

  .header-nav ul {
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }

  .header-nav li a {
    color: #000;
    display: flex;
    flex-direction: column;
    
  }
  
  .header-nav li a:hover {
    opacity: 0.8;
  }
  
  .open .header-nav {
    opacity: 1;
    visibility: visible;
  }
  
  .hamburger {
    width: 70px;
    height: 70px;
    display: block;
    position: relative;
    /* border: 1px solid red; */
    cursor: pointer;
    z-index: 10;
  }
  
  .hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background: #474b3c;
    position: absolute;
    top: 0;
    right: 20px;
    transition: 0.5s;
  }
  
  .hamburger span:nth-child(1) {
    top: 20px;
  }
  
  .hamburger span:nth-child(2) {
    top: 30px;
  }
  
  .hamburger span:nth-child(3) {
    top: 40px;
  }
  
  /* .openと.hamburgerの間は空白開ける */
  .open .hamburger span {
    display: block;
    transition: 0.5s;
  }
  
  .open .hamburger span:nth-child(1) {
    top: 50%;
    transform: translateY(10%) rotate(-45deg);
  }
  
  .open .hamburger span:nth-child(2) {
    opacity: 0;
  }
  
  .open .hamburger span:nth-child(3) {
    top: 50%;
    transform: translateY(-10%) rotate(45deg);
  }

  /* --mv- */
  .slider li img{
    width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    height:100vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    object-fit: cover;
  }
  .mv-logo img{ 
    width: 20%;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
  }

  .text-wrapper{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
  }
  .concept-text{
    display: block;
    text-align: center;
    
  }

  .grid{
    padding: 0 30PX;
    margin: 0 auto;
  }
  .grid ul{
    width: 100%;
    display: grid;
    object-fit: cover;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid img{
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  #infomation .wrapper{
    display: block;
    padding: 0 50px;
    
  }

  #infomation .wrapper iframe{
    width: 100%;
  }

  .info{
    width: 100%;
    margin-top: 30px;
    text-align: center;
  }

  #contact{
    object-fit: cover;
  }
  /* ------index end----------------------- */


  /* ----------menulist-------------------- */
  #menulist .wrapper{
    text-align: center;
    align-items: center;
    padding: 150px 30px;
    display: block;
  }

  #menulist .wrapper img{
    width: 500px;
    height: 300px;
    object-fit: cover;
  }

  #menulist .wrapper li{
    width: 300px;
    text-align: left;
    margin: 0 auto;
    font-size: 20px;
    padding-bottom: 8px;
    position: relative;
    
  }

  #menulist .wrapper li span{
    position: absolute;
    top: 0;
    right: 0;
  }

  .drink{
    margin-bottom: 100px;
  }

  /* -------menulist end------------------ */

  /* ----------conceptlist--------------- */
  .card{
    display: block;
    text-align: center;
    padding-bottom: 30px;
  }
  
  .card img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .card-content{
    width: 80%;
    padding: 20px 0;
    margin: 0 auto;
    align-items: bottom;
    text-align: center;
    display: block;
  }
  
  /* -------conceptlist end------------------ */

  /* ----------contactform------------------- */

  #contact-form .wrapper{
    padding: 100px 50px;
    max-width:900px;
    
  }
  .form-item{
    display: block;
    position: relative;
    width: 100%;
  }
  
  .form-label{
    margin-bottom: 5px;
    margin-left: 0;
    
  }
  .form-input input{
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    transform: translateX(0%);
    
  }
  
  .form-input textarea{
    width: 100%;
    position: absolute;
    left: 0%;
    transform: translateX(0%);
  }
  

}



